{% extends "layout.html" %}

{% block content %}
<h1>Aquí agradecemos a las personas y organicaciones que lograron que este sitio web sea público.</h1>
<p>Agradecemos a:</p>
<ul>
    <li>FAEH Premium <ul><li>FP PythonGraphs Services</li></ul></li>
    <li>Python Software Foundation</li>
    <li>Flask</li>
    <li>PythonAnywhere</li>
    <li>Microsoft Windows</li>
    <li>Visual Studio Code</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>YouTube</li>
    <li>DuckDuckGo</li>
</ul>
<p>Gracias a todos ustedes!!!</p>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main3.css') }}">
<div id="all-browser_version-ww-monthly-200901-202305" width="600" height="400" style="width:600px; height: 400px;"></div><!-- You may change the values of width and height above to resize the chart --><p>Source: <a href="https://gs.statcounter.com/browser-version-market-share#monthly-200901-202305">StatCounter Global Stats - Browser Version Market Share</a></p><script type="text/javascript" src="https://www.statcounter.com/js/fusioncharts.js"></script><script type="text/javascript" src="https://gs.statcounter.com/chart.php?all-browser_version-ww-monthly-200901-202305&chartWidth=600"></script>
<!–– Publicado por: https://www.youtube.com/watch?v=TU3UefE8NPo&ab_channel=JOSEOJEDAROJAS ––>
<!–– https://www.youtube.com/watch?v=977GUjFqGEc&ab_channel=GermanSol%C3%B3rzano ––>
{% endblock %}