<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build 002</title>
</head>
<body>
    <h1>Linea de tiempo</h1>
    <p>Hola, aca les presentaremos la linea de tiempo de Mosaic, Netscape, IE, Opera, Mozilla, Firefox, Safari, Chrome, Edge y Brave. Asi que comencemos:</p>
    <h3>Parte 1</h3>
    <table font-size="85%"; text-align:center;><tbody><tr style="background:#ececec"><th>
    </th>
    <th>Chrome
    </th>
    <th>IE
    </th>
    <th>Firefox
    </th>
    <th>Safari
    </th>
    <th>Opera
    </th>
    <th>Android
    </th>
    <th>Samsung Internet
    </th>
    <th>IE Mobile</th>
    <th>Edge Legacy
    </th>
    <th>Edge
    </th>
    <th>Nokia</th>
    <th>UC Browser
    </th>
    <th>Microsoft-WebDAV</th>
    <th>BlackBerry</th>
    <th>360 Safe Browser
    </th>
    <th>Maxthon</th>
    <th>Chromium
    </th>
    <th>NetFront</th>
    <th>Yandex Browser
    </th>
    <th>Mozilla
    </th>
    <th>Instabridge
    </th>
    <th>Sony PS4
    </th>
    <th>Obigo
    </th>
    <th>Puffin
    </th>
    <th><i>Otros...</i></th></tr>
    <tr><th bgcolor="#ececec">2009</th>
    <th>2.49 %</th>
    <th>84.49 %</th>
    <th>11.77 %</th>
    <th>0.6 %</th>
    <th>0.49 %</th>
    <th>-</th><th>-</th><th>-</th><th>-</th><th>-</th>
    <th>0.03 %</th>
    <th>-</th><th>-</th><th>-</th><th>-</th>
    <th>0.01 %</th>
    <th>-</th>
    <th>0.01%</th>
    <th>-</th>
    <th>0.08 %</th><th>-</th><th>-</th><th>-</th><th>-</th>
    <th>0.04 %</th></tr>
    <tr><th bgcolor="#ececec">2010</th>
    <th>7.62 %</th>
    <th>78.27 %</th>
    <th>12.56 %</th>
    <th>0.72 %</th>
    <th>0.51 %</th>
    <th>0.01 %</th>
    <th>-</th><th>-</th><th>-</th><th>-</th>
    <th>0.13 %</th>
    <th>-</th><th>-</th>
    <th>0.01 %</th>
    <th>-</th>
    <th>0.01 %</th>
    <th>-</th>
    <th>0.04%</th>
    <th>-</th>
    <th>0.02 %</th>
    <th>-</th><th>-</th><th>-</th><th>-</th>
    <th>0.1 %</th></tr>
    <tr><th bgcolor="#ececec">2011</th>
    <th>17.69 %</th>
    <th>66.76 %</th>
    <th>13.18 %</th>
        <th>0.83 %</th>
        <th>0.60 %</th>
        <th>0.3 %</th>
        <th>-</th><th>-</th><th>-</th><th>-</th>
        <th>0.34 %</th>
        <th>-</th><th>-</th>
        <th>0.04 %</th>
        <th>-</th>
        <th>0.01 %</th>
        <th>0.01 %</th>
        <th>0.05%</th>
        <th>-</th>
        <th>0 %</th>
        <th>-</th><th>-</th>
        <th>0.03 %</th>
        <th>-</th>
        <th>0.16 %</th></tr>
    <tr><th bgcolor="#ececec">2012</th>
        <th>39.38 %</th>
        <th>41.98 %</th>
        <th>14.69 %</th>
            <th>1.41 %</th>
            <th>0.89 %</th>
            <th>1.05 %</th>
            <th>-</th>
            <th>0.01 %</th>
            <th>-</th><th>-</th>
            <th>0.23 %</th>
            <th>0.01 %</th>
            <th>-</th>
            <th>0.08 %</th>
            <th>-</th>
            <th>0.03 %</th>
            <th>0.02 %</th>
            <th>0.03 %</th>
            <th>-</th>
            <th>0 %</th>
            <th>-</th><th>-</th>
            <th>0.03 %</th>
            <th>-</th>
            <th>0.16 %</th></tr></tr>
    <tr><th bgcolor="#ececec">2013</th>
    <th>54.53 %</th>
    <th>26.83 %</th>
    <th>12.07 %</th>
    <th>2.08 %</th>
    <th>1.24 %</th>
    <th>2.15 %</th>
    <th>-</th>
    <th>0.12 %</th>
    <th>-</th><th>-</th>
    <th>0.29 %</th>
    <th>0.08 %</th>
    <th>-</th>
    <th>0.15 %</th>
    <th>0.07 %</th>
    <th>0.06 %</th>
    <th>0.02 %</th>
    <th>0.02 %</th>
    <th>-</th>
    <th>0.01 %</th>
    <th>-</th><th>-</th>
    <th>0.02 %</th>
    <th>0.01 %</th>
    <th>0.25 %</th></tr>
    <tr><th bgcolor="#ececec">2014</th>
    <th>66.35 %</th>
    <th>15.49 %</th>
    <th>8.87 %</th>
    <th>2.81 %</th>
    <th>1.31 %</th>
    <th>3.12 %</th>
    <th>-</th>
    <th>0.57 %</th>
    <th>-</th><th>-</th>
    <th>0.48 %</th>
    <th>0.16 %</th>
    <th>-</th>
    <th>0.24 %</th>
    <th>0.22 %</th>
    <th>0.09 %</th>
    <th>0.02 %</th>
    <th>0.02 %</th>
    <th>0.01 %</th>
    <th>0.01 %</th>
    <th>-</th><th>-</th>
    <th>0.01 %</th>
    <th>0.01 %</th>
    <th>0.2 %</th></tr>
    <tr><th bgcolor="ececec">2015</th>
    <th>71.78 %</th>
    <th>9.98 %</th>
    <th>6.86 %</th>
    <th>3.02 %</th>
    <TH>2.43 %</TH>
    <th>3.48 %</th>
    <th>-</th>
    <th>1.01 %</th>
    <th>0.16 %</th>
    <th>-</th>
    <th>0.23 %</th>
    <th>0.21 %</th>
    <th>-</th>
    <th>0.18 %</th>
    <th>0.22 %</th>
    <th>0.11 %</th>
    <th>0.05 %</th>
    <th>0.01 %</th>
    <th>0.02 %</th>
    <th>0.03 %</th>
    <th>-</th>
    <th>0.01 %</th>
    <th>0.01 %</th>
    <th>0.02 %</th>
    <th>0.17 %</th></tr>
    </tr></tbody></table>
</body>
</html>