<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easter Eggs</title>
</head>

<body>
    <h1>Sorpresitas descubiertas:</h1>

    <h3>Aún no se encontró ningúna sorpresita o "Easter Egg Informático". Si lo encuentras avisa a tus amigos, que avisaran a sus amigos y así hasta que me llegue a mí y lo escribiré como Easter Egg descubierto.</h3>
    <h3>Ancora non è trovato nessuna sorpresina o "Easter Egg Informatico". Se lo trovi avvisa ai tuoi amici, che avviseranno ai loro amici e così fino a quando mi arrivi e lo scriverò come un Easter Egg scoperto.</h3>
</body>

</html>