{% extends "layoutfandomedesprin.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4"> <strong>FANDOM - EL DESPERTAR DEL PRÍNCIPE</strong></h1>
    <p class="lead">Sean bienvenidos al fandom de la obre literaria El Despertar del Príncipe, escrita por mi prima Mariel Valerie. (Aún en versión Alpha)</p>
    <img src="../static/edesprin2.jpg" alt="Promoción Navideño Ilegítimo de Mariel Valerie" width="500">
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" href="/fandom/el_despertar_del_principe/extras" role="button">EXTRAS</a>
    <a class="btn btn-primary btn-lg" href="/fandom/el_despertar_del_principe/protagonistas" role="button">Protagonistas</a>
  </div>
{% endblock %}
