{% extends "layoutfandomedesprin.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4"> <strong>FANDOM - EL DESPERTAR DEL PRÍNCIPE</strong></h1>
    <p class="lead">Aquí están los varios datos curiosos que su autora Mariel Valerie nos compartió del libro.</p>
    <hr class="my-4">
    <p>Si me encontraste así pues mira, me robaste la beta</p>
    <ul>
      <li>El libro está ambientado en el siglo XX, ya que Chichevecha cuenta que a sus 13 años se fue de su patria (que sería Perú) por una guerra sudamericana, y sabiendo que la mayoría ocurrieron en el siglo XIX, habría pasado como 60-90 años desde ese momento.</li>
    </ul>
    
  </div>
{% endblock %}