{% extends "layoutfandomedesprin.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4"> <strong>FANDOM - EL DESPERTAR DEL PRÍNCIPE</strong></h1>
    <p class="lead">Aquí están los protagonistas, clasificados según su importancia.</p>
    <hr class="my-4">
    <p>Si me encontraste así pues mira, me robaste mi beta</p>
    <a class="btn btn-primary btn-lg active" href="/notexistent" role="button">PERSONAJES PRIMARIOS</a> <br> <br>
    <a href="/notexistent" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">PERSONAJES SECUNDARIOS</a> <br> <br>
    <a class="btn btn-primary btn-lg active" href="/notexistent" role="button">PERSONAJES TERCIARIOS</a>
    
  </div>
{% endblock %}
