<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="form.php" method = "POST" class ="speaker_form">
        <label for="nombre">Ingrese su nombre:</label>
        <input type="text" placeholder="Escribe tu nombre:" maxlength="100" name="nombre" id="nombre" class="">
        <label for="email">Ingrese su email:</label>
        <input type="email" name="email" id="email" name="email" id="email" class="">
        <label for="password">Ingrese su contraseña:</label>
        <input type="password" name="password" id="password">
        <select name="pais_origen" id="pais_origen">
            <option value="Mexico">Mexico</option>
            <option value="Colombia">Colombia</option>
            <option value="Perú">Perú</option>
        </select>
        <input type="button" value="Enviar">
        <input type="submit">
    </form>

</body>
</html>