{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main3.css') }}">
<h1><b>Historial de La Palta Dorada</b></h1>
<h2>Ediciones</h2>
<p>Hasta el momento hay ?? lanzamientos de La Palta Dorada, presentada por Wayka</p>
<p>Vayamos a la lista para poder ingresar a un lanzamiento preciso.</p>
<ul>
    <a href="#Edición_N.°_01">Edición N.° 01</a><br>
    <a href="#Edición_N.°_02">Edición N.° 02</a><br>
    <a href="#Edición_N.°_03">Edición N.° 03</a><br>
</ul>

<h3>Edición N.° 01</h3>
<p>Vídeo presentado el 22/02/2023</p>
<p>El vídeo se encuentra aquí (puesto al inicio de La Palta Dorada): </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/m_DqBRZWEXU?start=262" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>Los nominados:</p>
<ul>
    <li>La alfalfa - Montoya</li>
    <li>Derecho a comer rico - Chhirinos</li>
    <li>Aministía - Cavero</li>
</ul>
<p>Y el ganador es:</p>
<p><b>Aministía - Cavero</b></p>
<h3>Edición N.° 02</h3>
<p>Vídeo presentado el 2/3/2023</p>
<p>El vídeo se encuentra aquí (puesto al inicio de La Palta Dorada): </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4jJp6AoN9Eg?start=415" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>Los nominados:</p>
<ul>
    <li>Vanya Thais</li>
    <li>César Combina</li>
    <li>Manuel Merino</li>
</ul>
<p>Y el ganador es:</p>
<p><b>Vanya Thais</b></p>
<h3>Edición N.° 03</h3>
<p>Vídeo presentado el 15/3/2023</p>
<p>El vídeo se encuentra aquí (puesto al inicio de La Palta Dorada): </p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wVE6WjDI1dA?start=413" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p>Los nominados:</p>
<ul>
    <li>El retorno de Keiko</li>
    <li>La cadena de oración de Porky</li>
    <li>Dina Boluarte</li>
    <li>El Congreso pide donaciones</li>
</ul>
<p>Y el ganador es:</p>
<p><b>El Congreso pide donaciones</b></p>
{% endblock %}