<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Línea de tiempo</title>
</head>
<body>
    <h1>Linea de tiempo</h1>
    <p>Hola, aca les presentaremos la linea de tiempo de Mosaic, Netscape, IE, Opera, Mozilla, Firefox, Safari, Chrome, Edge y Brave. Asi que comencemos:</p>
    <h3>Parte 1</h3>
    <table font-size="85%"; text-align:center;><tbody><tr style="background:#ececec"><th>
    </th>
    <th>1993
    </th>
    <th>1994
    </th>
    <th>1995
    </th>
    <th>1996
    </th>
    <th>1997
    </th>
    <th>1998
    </th>
    <th>1999
    </th>
    <th>2000
    </th>
    <th>2001
    </th>
    <th>2002
    </th>
    <th>2003
    </th>
    <th>2004
    </th>
    <th>2005
    </th>
    <th>2006
    </th>
    <th>2007
    </th>
    <th>2008
    </th>
    <th>2009
    </th>
    <th>2010
    </th>
    <th>2011
    </th>
    <th>2012
    </th></tr>
    <tr><th bgcolor="#ececec">Mosaic</th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    </tr>
    <tr><th bgcolor="#ececec">Netscape</th>
     <th></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
     <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    </tr>
    <tr><th bgcolor="#ececec">Internet Explorer</th>
     <th></th>
    <th></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    </tr>
    <tr><th bgcolor="#ececec">Opera</th>
    <th></th>
    <th></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    </tr>
    <tr><th bgcolor="#ececec">Mozilla</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th bgcolor="#ddffdd"></th>
    </tr>
    <tr><th bgcolor="#ececec">Firefox</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th bgcolor="#ddffdd"></th>
    </tr></tbody></table>
    <h3>Parte 2</h3>
    <table font-size="85%"; text-align:center;><tbody><tr style="background:#ececec"><th>
    </th>
    <th>2003
    </th>
    <th>2004
    </th>
    <th>2005
    </th>
    <th>2006
    </th>
    <th>2007
    </th>
    <th>2008
    </th>
    <th>2009
    </th>
    <th>2010
    </th>
    <th>2011
    </th>
    <th>2022
    </th></tr>
    <tr><th bgcolor="#ececec">Nets</th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    </tr>
    <tr><th bgcolor="#ececec">Netscape</th>
     <th></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
     <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    </tr>
    <tr><th bgcolor="#ececec">Internet Explorer</th>
     <th></th>
    <th></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    </tr>
    <tr><th bgcolor="#ececec">Opera</th>
    <th></th>
    <th></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    <th bgcolor="#ddffdd"></th>
    </tr>
    <tr><th bgcolor="#ececec">Mozilla</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th bgcolor="#ddffdd"></th>
    </tr>
    <tr><th bgcolor="#ececec">Firefox</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th bgcolor="#ddffdd"></th>
    </tr></tbody></table>
</body>
</html>