<h1>Esta es la lista de accesos:</h1>

<a class="btn btn-primary btn-lg" href="/" role="button">Home</a><br><br>
<a class="btn btn-primary btn-lg" href="/about" role="button">About Us</a><br><br>
<a class="btn btn-primary btn-lg" href="/example" role="button">Broma Revolucionaria</a><br><br>
<a class="btn btn-primary btn-lg" href="/example/abc" role="button">Publicidades</a><br><br>
<a class="btn btn-primary btn-lg" href="/example/one" role="button">Fechas</a><br><br>
<a class="btn btn-primary btn-lg" href="/pyscript" role="button">Build 003 - PyScript</a>
<a class="btn btn-primary btn-lg" href="/navegadorag1" role="button">Build 004 - NavegadorAG1</a><br><br>
<a class="btn btn-primary btn-lg" href="/curiosities" role="button">Curiosidades</a><br><br>
<a class="btn btn-primary btn-lg" href="/calculadora" role="button">Calculadora Offline</a><br><br>
<a class="btn btn-primary btn-lg" href="/lineasdetiempo" role="button">Build 001 - Línea de tiempo de navegadores</a><br><br>
<a class="btn btn-primary btn-lg" href="/wiki" role="button">Lista de artículos descargados de Wikipedia</a><br><br>