{% extends "layout.html" %}

{% block content %}
<h1>PREMIOS ERIANI 2024.</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main1.css') }}">
<hr class="my-4">
<p><b>¿Qué son los Premios Eriani 2024?</b></p><br>
<p>Los Premios Eriani 2024 son una entrega de premios que se le da a los mejores acontecimientos pasados en este 2023, que fue un año un poquito más cortito para unos y para otros un poquito más larguito de lo normal.</p><br>
<p><b>¿Cuando va a iniciar y cuando va a terminar los Premios Eriani 2024?</b></p><br>
<p>Los Premios Eriani 2024 va a iniciar en el sábado 16 de diciembre de 2023, el día festivo más cercano al clásico 15 de diciembre y 5 días antes de la anuncio de las Shortlists de los Óscars y va a terminar en el domingo 7 de marzo de 2024, 4 días antes de la 96° edición de los Óscars.</p><br>
<p><b>¿En donde se fija Premios Eriani 2024?</b></p><br>
<p>Los Premios Eriani 2024 se fija en los múltiples aspectos en el que han pasado en este año.</p><br>
<hr class="my-4">
<a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Regresa a HOME</a>
<a href="/list" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Regresa a List Access</a>
{% endblock %}