<!--  --><!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Internet Explorer - Wikipedia, la enciclopedia libre</title>
</head>
<body>
    <h1>Internet Explorer</h1>
    <div>navegador web de Microsoft</div><br>
    <div class="VT rellink"><span style="font-size:88%">Véase también:</span><i><a href="/wiki/Microsoft_Edge" title="Microsoft Edge">Microsoft Edge</a></i>
<div class="VT rellink"><span style="font-size:88%">Véase también:</span> <i><a href="/wiki/Internet_Explorer_Mobile" title="Internet Explorer Mobile">Internet Explorer Mobile</a></i></div><br>
    <b>Internet Explorer</b> (anteriormente <b>Microsoft Internet Explorer</b> y <b>Windows Internet Explorer</b>, usualmente abreviado a <b>IE</b>) es una serie descontinuada de navegadores web gráficos desarrollados por Microsoft para Microsoft Windows desde 1995. Se lanzó por primera vez como parte del paquete complementario Plus! para Windows 95 ese año.
    <table class="infobox" style="width:22.7em; line-height: 1.4em; text-align:left; padding:.23em;"><tbody><tr><th colspan="3" class="cabecera internet" style="text-align:center;background-color:transparent;color:black;;background-color:#DCEAEC;">Internet Explorer</th></tr><tr><td colspan="3" class="imagen" style="text-align:center;width:65%;">
<a href="/wiki/Archivo:Internet_Explorer_10%2B11_logo.svg" class="image"><img alt="Internet Explorer 10+11 logo.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/18/Internet_Explorer_10%2B11_logo.svg/150px-Internet_Explorer_10%2B11_logo.svg.png" decoding="async" width="150" height="147" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/18/Internet_Explorer_10%2B11_logo.svg/225px-Internet_Explorer_10%2B11_logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/18/Internet_Explorer_10%2B11_logo.svg/300px-Internet_Explorer_10%2B11_logo.svg.png 2x" data-file-width="223" data-file-height="219"></a></td></tr>
    <p: 1.4em; text-align:left; padding:.23em;"<tbody><tr><th class="cabecera internet" style="text-align:center;background-color:transparent;color:black;;background-color:#DCEAEC;">Holi</th></tr></tbody></table>
</body>
</html>
