<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Spyglass | FrNavg</title>
</head>
<body>
    <h1>Spyglass</h1>
    <p><b>Spyglass</b> fue una compañía (<a href="/wiki/NASDAQ">NASDAQ</a> SPYG) desarrolladora de <a href="/wiki/Software">software </a>para <a href="/wiki/Internet">internet</a>, tenía central en Champaign, <a href="/wiki/Illinois>Illinois">Illinois</a>.<br><br>
    Fundada de 1990, se creó por la <a href="/wiki/Universidad_de_Illinois">Universidad de Illinois </a>con el fin de comercializar y apoyar a las tecnologías de la <a href="/wiki/National_Center_for_Supercomputing_Applications">National Center for Supercomputing Applications </a>(<a href="/wiki/National_Center_for_Supercomputing_Applications">NCSA</a>).<br><br>
    Principalmente se hallaba el <a href="Navegador_web.html">navegador web</a><a href="Mosaic.html"> Mosaic</a>, en el que Spyglass adquiría la tecnología y las licencias necesarias para desarrollar su propio navegador.<br><br>
    El <a href="Código_fuente.html">código fuente</a> de Spyglass Mosaic fue adquirido por <a href="Microsoft.html">Microsoft</a> y fue la base para el desarrollo del software de navegación de esta compañía para posteriormente ser usado en <a href="/wiki/internet_explorer">Internet Explorer</a>.<br><br>
    El acuerdo original de distribución establecía que Spyglass recibiría un pago por la licencia y en el futuro seguiría recibiendo regalías por los beneficios que generase esta nueva fuente de ingresos para Microsoft. <a href="Bill_Gates.html">Bill Gates</a> a partir de ese momento decidió incluir este navegador gratuitamente en <a href="Windows_95.html">Windows 95</a> y distribuciones posteriores de sus programas, no generaron beneficios contables derivados del uso del navegador, con lo cual se ahorró dichos pagos.</p>
</body>
</html>
