<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Título de la página</title>
</head>
<body>
    <h1>Prueba 1</h1>
    <table style="font-size:85%; text-align:center; width:100%;"><tbody><tr style="background-color:#ececec"><th>
</th>
<th>autor
</th>
<th>Fecha de la primera edición pública
</th>
<th>Última versión estable
</th>
<th>Coste (<a href="Dólar_estadounidense.html">USD</a>)
</th>
<th><a href="Licencia_de_software.html">Licencia de software</a>
</th>
<th><a href="Motor_de_renderizado.html">Motor de renderizado</a> actual
</th>
<th>Idiomas
</th></tr><tr><th style="text-align:left" bgcolor="#ececec"><a href="/wiki/Amaya_(navegador)" title="Amaya (navegador)">Amaya</a>
</th>
<td><a href="/wiki/World_Wide_Web_Consortium" title="World Wide Web Consortium">W3C</a>, <a href="/wiki/Institut_National_de_Recherche_en_Informatique_et_en_Automatique">INRIA</a>
</td>
<td>14 de noviembre de 1996
</td>
<td>11.4.4
</td>
<td>Gratuito
</td>
<td><a href="/wiki/Software_libre" title="Software libre">Libre</a>: <a href="/wiki/W3C_Software_Notice_and_License" title="W3C Software Notice and License">W3C</a>
</td>
<td><i>propio</i>
</td>
<td>18</td>
</tr><tr><th style="text-align:left" bgcolor="#ececec"><a href="/wiki/Brave_(navegador_web)" title="Brave (navegador web)">Brave</a>
</th>
<td><a href="/wiki/Brendan_Eich" title="Brendan Eich">Brendan Eich</a>
</td>
<td>28 de mayo de 2015
</td>
<td>0.23.39
</td>
<td>Gratuito
</td>
<td><a href="/wiki/Mozilla_Public_License" title="Mozilla Public License">Mozilla Public License</a>
</td>
<td><a href="/wiki/Blink" title="Blink">Blink</a>, <a href="/wiki/Gecko_(motor_de_renderizado)" class="mw-redirect" title="Gecko (motor de renderizado)">Gecko</a>
</td>
<td>Inglés, Francés, Alemán, Español, Italiano, Jápones, Danés, Coreano, Sueco
</td></tr><tr><th style="text-align:left" bgcolor="#ececec"><a href="/wiki/Avast_Secure_Browser" title="Avast Secure Browser">Avast Secure Browser</a>
</th>
</th>
<td>Avast Software
</td>
<td>Abril de 2018
</td>
<td>81.0.4133.130
</td>
<td>Gratuito
</td>
<td><a href="/wiki/Software_gratis" title="Software gratis">Freeware</a>
</td>
<td><i>propio</i>
</td>
<td>?
</td></tr><tr><th style="text-align:left" bgcolor="#ececec"><a href="/wiki/Camino_(navegador)" title="Camino (navegador)">Camino</a>
</th>
<td>The Camino Project
</td>
<td><a href="/wiki/Febrero" title="Febrero">febrero</a> de <a href="/wiki/2002" title="2002">2002</a>
</td>
<td>2.1.2
</td>
<td>Gratuito
</td>
<td><a href="Software_Libre.html">Libre:</a><br>MPL, GNU GPL, GNU LGNU
</td>
<td><a href="Gecko_software.html">Gecko</a>
</td>
<td>15</td></tr>
</body>
</html>