<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Blue MishelAlexander | FrNavg</title>
</head>
<body>
    <h1>Blue MishelAlexander</h1>
    <b>Blue MishelAlexander Eriani Huayanay</b> (Chorrillos, Lima; 23 de marzo de 2022), es el hijo adoptado del magnate Francesco Adriano Eriani Huayanay, hijo biológico de Milaneso y Gatalina, es un participante de la Alianza FMBK. <br>
    <table class="infobox" style="width:20.7em; line-height: 1.4em; text-align:left; padding:2em;"><tbody><tr><th colspan="3" class="cabecera internet" style="text-align:center;background-color:transparent;color:black;;background-color:#DCEAEC;">Quemadín Blue</th></th></tr><tr><td colspan="3" class="imagen" style="text-align:center;width:65%;">
    <img src="../static/Blue.jpg" alt="Blue Image" height="200">
    <tr><th colspan="3" style="text-align:center;background-color:#DCEAEC;">Información personal</th></tr>
    <tr><th scope="row" style="text-align:left;width:35%;background-color:#eef5f6;">Nombre de Nacimiento</th>
    <td colspan="2" style="width:65%;">Quemadín Blue Eriani Huayanay Siam</td></tr>
    <tr><th scope="row" style="text-align:left;width:35%;background-color:#eef5f6;">Nacimiento</th>
    <td colspsn="2" style="width:65%;">23 de marzo de 2022 (14 meses) Chorrillos, Lima, Perú</td></tr>
    <tr><th scope="row" style="text-align:left;width:35%;background-color:#eef5f6;">Residencia</th>
    <td colspan="2" style="width:65%;">Huaraz, Áncash, Perú</td></tr>
    <tr><th colspan="3" style="text-align:center;background-color:#DCEAEC;">Familia</th></tr>
    <tr><th scope="row" style="text-align:left;width:35%;background-color:#eef5f6;">Padres</th>
    <td colspan="2" style="width:65%;">Milaneso Siam <br> Gatalina Siam</td></tr>
    <tr><th colspan="3" style="text-align:center;background-color:#DCEAEC;">Información profesional</th></tr>
    <tr><th scope="row" style="text-align:left;width:35%;background-color:#eef5f6;">Ocupación</th>
    <td colspan="2" style="width:65%;">Fundador de la Alianza FMBK <br> Presidente del sitio web Francesco's Navegator (FrNavg)</td></tr>
    <tr><th scope="row" style="text-align:left;width:35%;background-color:#eef5f6;">Meses activos</th>
    <td colspsn="2" style="width:65%;">Desde agosto 2022</td></tr>
    <tr><th scope="row" style="text-align:left;width:35%;background-color:#eef5f6;">Patrimonio</th>
    <td colspsn="2" style="width:65%;">S/ 5</td></tr>
    </table>
    <h2 class="section-heading" onclick="mfTempOpenSection(1)"><span class="mw-headline" id="Historia">Biografía</span><span class="mw-editsection"></span></h2><section class="mf-section-1 collapsible-block" id="mf-section-1">
<h3><span class="mw-headline" id="Internet_Explorer_1">Infancia en Lima</span></h3>
<p>Quemadín Blue nació en la noche del 23 de marzo del 2022, era hijo de Milaneso y Gatalina, inicialmente le fue llamado por Stefany Huayanay, Cicci 2. Después de dos meses de su nacimiento, le fue regalado a quien lo adoptaría, el magnate Francesco Adriano Eriani Huayanay.</p>
<h3><span class="mw-headline" id="Internet_Explorer_1">Vida en Huaraz</span></h3>
<p>Francesco, que lo adoptó como su hijo, lo llamo Quemadín Blue, el primer nombre porque parecía quemado y el segundo porque sus ojos eran azules. <br>
Dos meses después llegaría también su hermano, que antes se llamaba Juancito Urigancho, pero que Francesco lo cambió a Kimba Michifus.<br>
Para octubre del 2022 se formalizó ls creación de la empresa Alianza FMBK, que eran las siglas de Francesco-Misifu-Blue-Kimba, y Blue era uno de sus fundadores.<br>
Para el 15 de mayo del 2023, Blue fue nombrado presidente del sitio web FrNavg, que cada día sigue innovando.<br>
En el XX de agosto de 2023, Francesco programó su auto-exilio y lo "subalquiló" a su tía Selina Corín Huayanay Chuquillanqui y con su rencuentro en Lima, donde hay el único aeropuerto verdaderamente internacional del Perú, Blue cambión de nombre a Blue MishelAlexander, Blue en recuerdo de su ex-padre adoptivo, Mishel, por el nombre que le puso a Selina y Alexander, porque sy primo, que se llamaba Alexander, dijo que se le parecía mucho a él, y los nombres Mishel y Alexander, por comodidad de lectura están juntos y se escriben y se leen juntos.</p>
<h2 class="section-heading" onclick="mfTempOpenSection(13)"><div class="mw-ui-icon mw-ui-icon-element indicator mw-ui-icon-small mw-ui-icon-flush-left mw-ui-button mw-ui-quiet"></div><span class="mw-headline" id="Enlaces_externos">Enlaces externos</span></h2><section class="mf-section-13 collapsible-block" id="mf-section-13">
</body>
</html>
